<header class="header">
  <nav class="nav">
    <a href="#" class="nav_logo">TradeHut</a>

    <ul class="nav_items">
      <li class="nav_item">
        <a href="" class="nav_link">Home</a>
        <a href="../../pages/trades/realtime/realtime.html" class="nav_link">Trades</a>
        <a href="#" class="nav_link">Contact</a>
      </li>
    </ul>
    <div id="log_status">
      <a href="../../pages/user/register/register.html"
        ><button class="button" id="sign_up">Sign Up</button></a
      >
      <a href="../../pages/user/login/login.html"
        ><button class="button" id="login">Login</button></a
      >
      <a href="https://trading-journal-backend-feevah.onrender.com/auth/logout"
        ><button class="button" id="logout">log out</button></a
      >
    </div>
  </nav>
</header>


